# <b> Stage 1: Data Cleaning </b>

### step 1. Importing libraries

In [1]:
import pandas as pd

import numpy as np

### step 2. Opening the csv file

In [2]:
df = pd.read_csv(r'E:\Practice Data Analysis\data\messy_social_finance_dataset.csv')

### step 3. Checking all the columns

In [3]:
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,"₹3,806",₹681,fashion,U.S.,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,₹723,fitness,USA,1767391,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,"$3,367.37",₹342,fashion,Canada,10k,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,"USD 4,388.02",998.46 INR,fashion,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,P2817,@techietom,Twitter,text,12/3/2022,35179.0,762.0,275.0,NaN,no,Nkie,"USD 4,418.27","$1,571.19",travel,United States,2298405,38.0
1016,P2927,@lifestylelina,YouTube,text,21-Jul-23,46600.0,NaN,NaN,13.35,No,Google,"USD 2,626.86",NaN,travel,U.K.,500,9999.0
1017,P7938,@the_real_amy,Twitter,text,4/15/2023,1018074.0,NaN,NaN,NaN,Yes,CocaCola,3368.541095,300.87 INR,finance,USA,1.2M,19.0
1018,P6359,@travelwithsam,YouTube,text,14/05/2023,NaN,4986.0,NaN,14.07,No,Adidas,"1,574.64 INR",983.72 INR,finance,Canada,1.2M,25.0
1019,P6656,@techietom,YouTube,reel,7/22/2023,1701405.0,1875.0,1763.0,14.72,yes,Pepsi,"2,721.19 INR","₹1,505",fitness,U.K.,3998115,NaN

### step 3. Remove Duplicate Records

In [4]:
#drop duplicates using post_id

df = df.drop_duplicates(subset=['post_id'])

In [5]:
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,"₹3,806",₹681,fashion,U.S.,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,₹723,fitness,USA,1767391,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,"$3,367.37",₹342,fashion,Canada,10k,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,"USD 4,388.02",998.46 INR,fashion,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,"$4,392.18","1,681.24 INR",finance,U.K.,1601241,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,987.86 INR,"₹1,248",food,India,1.2M,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,"$2,857.83","USD 1,771.64",finance,United States,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,"₹1,131",631.6092723,food,Canada,10k,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,U.K.,NaN,32.0

### step 4. Cleaning the `revenue_generated` column

In [6]:
# Proper currency conversion and cleaning
def clean_and_convert_revenue(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip()

    # Check for INR indicators
    is_inr = '₹' in value or 'INR' in value

    # Remove currency symbols and text
    value = value.replace('₹', '').replace('INR', '').replace('USD', '').replace('$', '').replace(',', '').strip()

    # Convert to float
    try:
        amount = float(value)
        # Convert INR to USD (approximate rate: 1 USD = 88.72 INR as per 7th October 2025)
        if is_inr:
            amount = amount / 88.72
        return amount
    except ValueError:
        return np.nan

df['revenue_generated'] = df['revenue_generated'].apply(clean_and_convert_revenue)

df

C:\Users\asus\AppData\Local\Temp\ipykernel_22632\2775794635.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['revenue_generated'] = df['revenue_generated'].apply(clean_and_convert_revenue)

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,42.899008,₹681,fashion,U.S.,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,₹723,fitness,USA,1767391,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,₹342,fashion,Canada,10k,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,998.46 INR,fashion,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,"1,681.24 INR",finance,U.K.,1601241,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,"₹1,248",food,India,1.2M,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,"USD 1,771.64",finance,United States,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.6092723,food,Canada,10k,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,U.K.,NaN,32.0

### step 5. Cleaning the `ad_spent` column

In [7]:
# Proper currency conversion and cleaning
def clean_and_convert_revenue(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip()

    # Check for INR indicators
    is_inr = '₹' in value or 'INR' in value

    # Remove currency symbols and text
    value = value.replace('₹', '').replace('INR', '').replace('USD', '').replace('$', '').replace(',', '').strip()

    # Convert to float
    try:
        amount = float(value)
        # Convert INR to USD (approximate rate: 1 USD = 88.72 INR as per 7th October 2025)
        if is_inr:
            amount = amount / 88.72
        return amount
    except ValueError:
        return np.nan

df['ad_spent'] = df['ad_spent'].apply(clean_and_convert_revenue)

df

C:\Users\asus\AppData\Local\Temp\ipykernel_22632\1087405203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ad_spent'] = df['ad_spent'].apply(clean_and_convert_revenue)

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,42.899008,7.675834,fashion,U.S.,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,USA,1767391,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,3.854824,fashion,Canada,10k,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,18.949955,finance,U.K.,1601241,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1.2M,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,United States,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.609272,food,Canada,10k,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,U.K.,NaN,32.0

### step 6. Converting `follower_count` (“10k”, “1.2M”) → integer

In [8]:
def convert_follower_count(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().upper()

    multiplier = 1
    if value.endswith('K'):
        multiplier = 1_000
        value = value[:-1]
    elif value.endswith('M'):
        multiplier = 1_000_000
        value = value[:-1]

    try:
        return int(float(value) * multiplier)
    except ValueError:
        return np.nan
    
df['follower_count'] = df['follower_count'].apply(convert_follower_count)
df

C:\Users\asus\AppData\Local\Temp\ipykernel_22632\4266571185.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['follower_count'] = df['follower_count'].apply(convert_follower_count)

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,42.899008,7.675834,fashion,U.S.,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,USA,1767391.0,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,18.949955,finance,U.K.,1601241.0,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,United States,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,U.K.,NaN,32.0

### step 6. Converting Multiple Contury Names to One ( United State -> US, USA -> US, etc.)

In [9]:
# Check region values before standardization
print("Region values before standardization:")
print(df['region'].unique()[:20])

Region values before standardization:
['USA' 'U.S.' 'Canada' 'United States' 'Australia' 'Germany' 'India'
 'U.K.' 'UK']

In [10]:
# converting multiple country names to one (us -> USA, u.k. -> UK, etc.) in the most simple way
def standardize_country_names(country):
    country = country.strip().lower()
    if country in ['us', 'usa', 'united states', 'u.s.']:
        return 'USA'
    elif country in ['u.k.', 'uk', 'united kingdom']:
        return 'UK'
    elif country == 'in':
        return 'INDIA'
    return country.title()  # Capitalize first letter for other countries

df['region'] = df['region'].apply(standardize_country_names)

print("Region values after standardization:\n")
print(df['region'].unique()[:20])

df

Region values after standardization:

['USA' 'Canada' 'Australia' 'Germany' 'India' 'UK']

C:\Users\asus\AppData\Local\Temp\ipykernel_22632\2898572221.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['region'] = df['region'].apply(standardize_country_names)

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,42.899008,7.675834,fashion,USA,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,USA,1767391.0,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,USA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,18.949955,finance,UK,1601241.0,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,USA,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,UK,NaN,32.0

### step 7. Removing the rows with no `post_id` or `username`

I forgot doing this early on, so I am doing it now just to make sure there is no invalid data for the relevant column.

In [11]:
df = df.dropna(subset=['post_id', 'username'])
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,10/31/2024,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,6-Jan-24,37194.0,NaN,NaN,12.16,no,Apple,42.899008,7.675834,fashion,USA,NaN,NaN
2,P5554,@finance_guru,Instagram,text,13/06/2022,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,USA,1767391.0,NaN
3,P6168,@finance_guru,Twitter,video,10/27/2023,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,4/12/2025,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,USA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,12/2/2022,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,18.949955,finance,UK,1601241.0,NaN
996,P8411,@techietom,Twitter,text,28/04/2024,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,26-Feb-22,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,USA,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,8/15/2025,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,8/8/2022,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,UK,NaN,32.0

### step 8. Normalize date formats to DD-MM-YYYY.

In [12]:
# Properly normalize date formats to DD-MM-YYYY and handle year corrections
def normalize_date(date_str):
    if pd.isna(date_str):
        return pd.NaT

    # Convert to string and normalize separators
    date_str = str(date_str).replace('"', '-').replace('/', '-')

    # Try to parse the date
    try:
        # Parse with dayfirst=True since format is DD-MM-YYYY
        date_obj = pd.to_datetime(date_str, dayfirst=True, errors='coerce')

        if pd.isna(date_obj):
            return pd.NaT

        return date_obj
    except:
        return pd.NaT

df['post_date'] = df['post_date'].apply(normalize_date)

#df['post_date'] = df['post_date'].dt.strftime('%d-%m-%Y')

df

C:\Users\asus\AppData\Local\Temp\ipykernel_22632\1937798850.py:12: UserWarning: Parsing dates in %m-%d-%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  date_obj = pd.to_datetime(date_str, dayfirst=True, errors='coerce')

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,2024-10-31,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,USA,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,2024-01-06,37194.0,NaN,NaN,12.16,no,Apple,42.899008,7.675834,fashion,USA,NaN,NaN
2,P5554,@finance_guru,Instagram,text,2022-06-13,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,USA,1767391.0,NaN
3,P6168,@finance_guru,Twitter,video,2023-10-27,891743.0,NaN,459.0,5.62,NaN,CocaCola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,2025-12-04,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,USA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,2022-02-12,39887.0,2845.0,NaN,NaN,yes,Nike,4392.180000,18.949955,finance,UK,1601241.0,NaN
996,P8411,@techietom,Twitter,text,2024-04-28,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,2022-02-26,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,USA,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,2025-08-15,1509020.0,NaN,619.0,NaN,no,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,2022-08-08,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,UK,NaN,32.0

### step 9. Standardize text columns: sponsorship, region, brand_name.

In [13]:
def standardize_text_column(value):
    if pd.isna(value):
        return np.nan
    return value.strip().title()

df['sponsorship'] = df['sponsorship'].apply(standardize_text_column)
df['region'] = df['region'].apply(standardize_text_column)
df['brand_name'] = df['brand_name'].apply(standardize_text_column)
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,2024-10-31,15795.0,NaN,1044.0,NaN,No,Apple,557.351122,NaN,food,Usa,NaN,19.0
1,P1711,@travelwithsam,TikTok,image,2024-01-06,37194.0,NaN,NaN,12.16,No,Apple,42.899008,7.675834,fashion,Usa,NaN,NaN
2,P5554,@finance_guru,Instagram,text,2022-06-13,429365.0,769.0,NaN,NaN,No,NaN,4155.553088,8.149234,fitness,Usa,1767391.0,NaN
3,P6168,@finance_guru,Twitter,video,2023-10-27,891743.0,NaN,459.0,5.62,NaN,Cocacola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,2025-12-04,NaN,2904.0,1584.0,NaN,NaN,Google,4388.020000,11.254058,fashion,Usa,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,2022-02-12,39887.0,2845.0,NaN,NaN,Yes,Nike,4392.180000,18.949955,finance,Uk,1601241.0,NaN
996,P8411,@techietom,Twitter,text,2024-04-28,924516.0,NaN,422.0,NaN,NaN,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,2022-02-26,NaN,NaN,452.0,NaN,NaN,Gogle,2857.830000,1771.640000,finance,Usa,NaN,9999.0
998,P5860,@the_real_amy,YouTube,video,2025-08-15,1509020.0,NaN,619.0,NaN,No,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,2022-08-08,27542.0,NaN,NaN,NaN,No,Apple,1333.084276,NaN,fitness,Uk,NaN,32.0

### step 10. Handle NaN and blanks using imputation or removal.

In [14]:
df = df.fillna('None')
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,2024-10-31,15795.0,None,1044.0,None,No,Apple,557.351122,None,food,Usa,None,19.0
1,P1711,@travelwithsam,TikTok,image,2024-01-06,37194.0,None,None,12.16,No,Apple,42.899008,7.675834,fashion,Usa,None,None
2,P5554,@finance_guru,Instagram,text,2022-06-13,429365.0,769.0,None,None,No,None,4155.553088,8.149234,fitness,Usa,1767391.0,None
3,P6168,@finance_guru,Twitter,video,2023-10-27,891743.0,None,459.0,5.62,None,Cocacola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,2025-12-04,None,2904.0,1584.0,None,None,Google,4388.020000,11.254058,fashion,Usa,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,2022-02-12,39887.0,2845.0,None,None,Yes,Nike,4392.180000,18.949955,finance,Uk,1601241.0,None
996,P8411,@techietom,Twitter,text,2024-04-28,924516.0,None,422.0,None,None,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,2022-02-26,None,None,452.0,None,None,Gogle,2857.830000,1771.64,finance,Usa,None,9999.0
998,P5860,@the_real_amy,YouTube,video,2025-08-15,1509020.0,None,619.0,None,No,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,2022-08-08,27542.0,None,None,None,No,Apple,1333.084276,None,fitness,Uk,None,32.0

### step 11. Checking and fix for wrong company names

Adiddas -> Adidas

Nkie -> Nike

Gogle -> Google

In [15]:
df = df.replace({
  brand_name: { Adiddas: "Adidas", Nkie: "Nike", Gogle: "Google" },
});
df;

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,2024-10-31,15795.0,None,1044.0,None,No,Apple,557.351122,None,food,Usa,None,19.0
1,P1711,@travelwithsam,TikTok,image,2024-01-06,37194.0,None,None,12.16,No,Apple,42.899008,7.675834,fashion,Usa,None,None
2,P5554,@finance_guru,Instagram,text,2022-06-13,429365.0,769.0,None,None,No,None,4155.553088,8.149234,fitness,Usa,1767391.0,None
3,P6168,@finance_guru,Twitter,video,2023-10-27,891743.0,None,459.0,5.62,None,Cocacola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,2025-12-04,None,2904.0,1584.0,None,None,Google,4388.020000,11.254058,fashion,Usa,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,2022-02-12,39887.0,2845.0,None,None,Yes,Nike,4392.180000,18.949955,finance,Uk,1601241.0,None
996,P8411,@techietom,Twitter,text,2024-04-28,924516.0,None,422.0,None,None,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,2022-02-26,None,None,452.0,None,None,Google,2857.830000,1771.64,finance,Usa,None,9999.0
998,P5860,@the_real_amy,YouTube,video,2025-08-15,1509020.0,None,619.0,None,No,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,2022-08-08,27542.0,None,None,None,No,Apple,1333.084276,None,fitness,Uk,None,32.0

### step 12. Handle extreme outliers (e.g., unrealistic revenue values).

In [16]:
# For example, we can cap revenue_generated at 3 standard deviations from the mean
revenue_mean = df['revenue_generated'].mean()
revenue_std = df['revenue_generated'].std()
revenue_cap = revenue_mean + 3 * revenue_std
df['revenue_generated'] = np.where(df['revenue_generated'] > revenue_cap, revenue_cap, df['revenue_generated'])
df

,post_id,username,platform,post_type,post_date,likes,comments,shares,engagement_rate,sponsorship,brand_name,revenue_generated,ad_spent,category,region,follower_count,campaign_duration_days
0,P9928,@alex_99,Instagram,video,2024-10-31,15795.0,None,1044.0,None,No,Apple,557.351122,None,food,Usa,None,19.0
1,P1711,@travelwithsam,TikTok,image,2024-01-06,37194.0,None,None,12.16,No,Apple,42.899008,7.675834,fashion,Usa,None,None
2,P5554,@finance_guru,Instagram,text,2022-06-13,429365.0,769.0,None,None,No,None,4155.553088,8.149234,fitness,Usa,1767391.0,None
3,P6168,@finance_guru,Twitter,video,2023-10-27,891743.0,None,459.0,5.62,None,Cocacola,3367.370000,3.854824,fashion,Canada,10000.0,22.0
4,P6930,@travelwithsam,TikTok,text,2025-12-04,None,2904.0,1584.0,None,None,Google,4388.020000,11.254058,fashion,Usa,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P7185,@techietom,LinkedIn,reel,2022-02-12,39887.0,2845.0,None,None,Yes,Nike,4392.180000,18.949955,finance,Uk,1601241.0,None
996,P8411,@techietom,Twitter,text,2024-04-28,924516.0,None,422.0,None,None,Samsung,11.134581,14.066727,food,India,1200000.0,34.0
997,P3583,@finance_guru,Instagram,video,2022-02-26,None,None,452.0,None,None,Google,2857.830000,1771.64,finance,Usa,None,9999.0
998,P5860,@the_real_amy,YouTube,video,2025-08-15,1509020.0,None,619.0,None,No,Google,12.747971,631.609272,food,Canada,10000.0,9999.0
999,P1714,@the_real_amy,LinkedIn,video,2022-08-08,27542.0,None,None,None,No,Apple,1333.084276,None,fitness,Uk,None,32.0

### step 13. Exporting the complete clean data

In [17]:
#exporting the complete clean data
df.to_csv(r'E:\Practice Data Analysis\data\cleaned_dataset.csv',
          index=False)

print("\n=======================EXPORT SUCCESSFUL=======================")

=======================EXPORT SUCCESSFUL=======================